<div class="row mx-1 my-3 mx-lg-5 g-4 row-cols-1 row-cols-lg-2 align-items-center justify-content-center">
    <slot />
</div>

<style>
    div {
        display: ;
        height: auto;
    }
</style>