<div class="row py-3 mx-1 mx-lg-5 g-4 gap- row-cols-1 row-cols-lg-3 align-items-center justify-content-center">
    <slot />
</div>

<style>
    div {
        @media screen and (min-width: 1024px) {
            height: 30vh;
        }
    }
</style>