---
import Paragraph from '../components/Paragraph.astro';
import Container from '../layouts/Container.astro';
import Layout2 from '../layouts/Layout2.astro';
---

<meta http-equiv="refresh" content="2; url='https://www.ncafatrilogi.id'" />
<Layout2 title="404 Not Found">
	<main>
        <Container>
            <Paragraph
            paragraph="Page not found, directing you back to homepage."
            />
        </Container>
	</main>
</Layout>