---
import AlbumPhotos from '../components/AlbumPhotos.astro';
import Heading2 from '../components/Heading2.astro';
import AlbumContainerMedium from '../layouts/Album/AlbumContainer-Medium.astro';
import AlbumContainer from '../layouts/Album/AlbumContainer.astro';
import Container from '../layouts/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Co-Host">
	<main>
		<Container>
            <AlbumContainer>
                <Heading2 text="Co-Host"/>
                <AlbumContainerMedium>
                    <AlbumPhotos 
						src="/cohost/dutawacana.png"
						alt="Universitas Kristen Duta Wacana"
					/>
                    <AlbumPhotos 
						src="/cohost/esaunggul.png"
						alt="Universitas Esa Unggul"
					/>
                    <AlbumPhotos 
						src="/cohost/ipwija.png"
						alt="STIE IPWIJA"
					/>
                    <AlbumPhotos 
						src="/cohost/pancasila.png"
						alt="Universitas Pancasila"
					/>
                    <AlbumPhotos 
						src="/cohost/tazkia.png"
						alt="Institut Tazkia"
					/>
                    <AlbumPhotos 
						src="/cohost/trisakti.png"
						alt="Universitas Trisakti"
					/>
                    <AlbumPhotos 
						src="/cohost/uai.png"
						alt="Universitas Al-Azhar"
					/>
                    <AlbumPhotos 
						src="/cohost/ubaya.png"
						alt="Universitas Surabaya"
					/>
                    <AlbumPhotos 
						src="/cohost/ubhara.png"
						alt="Universitas Bhayangkara Jakarta Raya"
					/>
                    <AlbumPhotos 
						src="/cohost/ubl.png"
						alt="Universitas Budi Luhur"
					/>
                    <AlbumPhotos 
						src="/cohost/untar.png"
						alt="Universitas Tarumanagara"
					/>
                    
                </AlbumContainerMedium>
            </AlbumContainer>
		</Container>

	</main>
</Layout>