---
import ContactDetails from '../components/ContactDetails.astro';
import Jumbotron from '../components/Jumbotron.astro';
import Jumbotron2 from '../components/Jumbotron2.astro';
import ContactContainerFH from '../layouts/Contact/ContactContainerFH.astro';
import Container from '../layouts/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
	<main>
        <Jumbotron2
            srcdesktop="/jumbotron/contactus-desktop.webp"
            srcmobile="/jumbotron/contactus-mobile.webp"
            alt="Contact Us"
        />
		<Container>
            <ContactContainerFH>
                <ContactDetails 
                    media="Call for Paper"
                    href="https://www.instagram.com"
                    text="+62 851 5618 1049 (Aditya)"
                    text2=""
                />
                <ContactDetails 
                    media="Seminar"
                    href="https"
                    text="+62 851 5618 1049 (Aditya)"
                    text2=""
                />
                <ContactDetails 
                    media="Co-Host"
                    href="https"
                    text="+62 851 5618 1049 (Aditya)"
                    text2=" "
                    />
                <ContactDetails 
                    media="Sponsorship"
                    href="https"
                    text="+62 851 5618 1049 (Aditya)"
                    text2=" "
                    />
                <ContactDetails 
                    media="Partnership"
                    href="https"
                    text="+62 851 5618 1049 (Aditya)"
                    text2=" "
                    />
            </ContactContainerFH>
		</Container>
	</main>
</Layout>