---
import MitraJurnalPhotos from '../components/MitraJurnalPhotos.astro';
import Heading2 from '../components/Heading2.astro';
import AlbumContainer from '../layouts/Album/AlbumContainer.astro';
import Container from '../layouts/Container.astro';
import Layout from '../layouts/Layout.astro';
import MitraJurnal from '../layouts/Album/MitraJurnal.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 2"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/aamar2.png"
						alt="KAP Sriyadi, Elly, Sugeng, dan Rekan"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/abm.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/account2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/accruals2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/akeu.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jara.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jasf2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jauj.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/joia.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 2"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/aamar2.png"
						alt="KAP Sriyadi, Elly, Sugeng, dan Rekan"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/abm.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/account2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/accruals2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/akeu.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jara.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jasf2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jauj.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/joia.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 2"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/aamar2.png"
						alt="KAP Sriyadi, Elly, Sugeng, dan Rekan"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/abm.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/account2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/accruals2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/akeu.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jara.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jasf2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jauj.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/joia.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 2"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/aamar2.png"
						alt="KAP Sriyadi, Elly, Sugeng, dan Rekan"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/abm.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/account2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/accruals2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/akeu.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jara.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jasf2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jauj.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/joia.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 2"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/aamar2.png"
						alt="KAP Sriyadi, Elly, Sugeng, dan Rekan"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/abm.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/account2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/accruals2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/akeu.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jara.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jasf2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jauj.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/joia.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>

	</main>
</Layout>