---
import MitraJurnalPhotos from '../components/MitraJurnalPhotos.astro';
import Heading2 from '../components/Heading2.astro';
import AlbumContainer from '../layouts/Album/AlbumContainer.astro';
import Container from '../layouts/Container.astro';
import Layout from '../layouts/Layout.astro';
import MitraJurnal from '../layouts/Album/MitraJurnal.astro';
---

<Layout title="Journal Partners">
	<main>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 2"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jtaken2.png"
						alt="Jurnal Tata Kelola dan Akuntabilitas Keuangan Negara"
						namaMJ="Jurnal Tata Kelola dan Akuntabilitas Keuangan Negara"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/tiar2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jasf2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jaai2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jamal.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jka.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 3"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jak2.png"
						alt="KAP Sriyadi, Elly, Sugeng, dan Rekan"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/ja-bengkulu2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/baki.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/pajaktrisakti.png"
						alt="Sayurbox"
					/>
                    
                </MitraJurnal>
            </AlbumContainer>
		</Container>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 4"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/sar2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jiafe2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/accruals2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jrb2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jra2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/keunis2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/tijab2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/wra2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/elmuhasaba2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jara.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/kompartemenjik.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>
		<Container>
            <AlbumContainer>
                <Heading2 text="SINTA 5"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/account2.png"
						alt="KAP Sriyadi, Elly, Sugeng, dan Rekan"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/akunbisnis2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/joia.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/abm.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jae.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jauj.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>
		<Container>
            <AlbumContainer>
                <Heading2 text="GOOGLE SCHOLAR"/>
                <MitraJurnal>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/tabr2.png"
						alt="KAP Sriyadi, Elly, Sugeng, dan Rekan"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/jiap2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/relevan2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/inquisitive2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/balance2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/aamar2.png"
						alt="Sayurbox"
					/>
                    <MitraJurnalPhotos 
						src="https://ncafatrilogi.id/mitrajurnal/akeu.png"
						alt="Sayurbox"
					/>
                </MitraJurnal>
            </AlbumContainer>
		</Container>

	</main>
</Layout>