---
import AlbumPhotos from "../components/AlbumPhotos.astro";
import BenefitDetails from "../components/BenefitDetails.astro";
import ButtonLink from "../components/ButtonLink.astro";
import ContactDetails from "../components/ContactDetails.astro";
import DateDetails from "../components/DateDetails.astro";
import Heading1 from "../components/Heading1.astro";
import Heading2 from "../components/Heading2.astro";
import Jumbotron from "../components/Jumbotron.astro";
import Jumbotron2 from "../components/Jumbotron2.astro";
import ModeratorsDetails from "../components/ModeratorsDetails.astro";
import Paragraph from "../components/Paragraph.astro";
import PriceDetails from "../components/PriceDetails.astro";
import SORContainer from "../components/SORContainer.astro";
import ScopeofResearch from "../components/ScopeofResearch.astro";
import SpeakersDetails from "../components/SpeakersDetails.astro";
import AlbumContainerLarge from "../layouts/Album/AlbumContainer-Large.astro";
import AlbumContainerSmall from "../layouts/Album/AlbumContainer-Small.astro";
import AlbumContainer from "../layouts/Album/AlbumContainer.astro";
import ButtonContainer from "../layouts/Button/ButtonContainer.astro";
import ContactContainer from "../layouts/Contact/ContactContainer.astro";
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";
import ModeratorContainer from "../layouts/Moderator/ModeratorContainer.astro";
import PriceContainer from "../layouts/Price/PriceContainer.astro";
---

<Layout title="Call for Paper">
    <main>
        <Jumbotron2
            srcdesktop="/jumbotron/callforpaper-desktop.webp"
            srcmobile="/jumbotron/callforpaper-mobile.webp"
            alt="Call for Paper"
        />
        <Container>
            <Paragraph
                paragraph="As a form of contribution to the development of accounting science in Indonesia, it was jointly initiated by the Association of Certified Fraud Examiners (ACFE) Indonesia Chapter and the Association of Public Sector Accounting Educators (APSAE) which was also supported by the Indonesian Institute of Accountants (IAI) Compartment of Accountants Educators for DKI Jakarta Region. As well as during this conference trip, it was also held in collaboration with SINTA Accredited Journals, Index Copernicus, ProQuest, DOAJ, RePec, Google Scholar."
            />
        </Container>

        <Container>
            <Heading1 text="Scope of Research" />
            <SORContainer>
                <ScopeofResearch
                    sor="Financial Accounting and Capital Markets"
                    class="fa-solid fa-money-bill-trend-up fa-2xl pb-4"
                />
                <ScopeofResearch
                    sor="Management and Behavioral Accounting"
                    class="fa-solid fa-bars-progress fa-2xl pb-4"
                />
                <ScopeofResearch
                    sor="Public Sector Accounting"
                    class="fa-solid fa-user fa-2xl pb-4"
                />
                <ScopeofResearch
                    sor="Sharia Accounting"
                    class="fa-solid fa-star-and-crescent fa-2xl pb-4"
                />
                <ScopeofResearch
                    sor="Fraud and Forensic Accounting"
                    class="fa-solid fa-building-shield fa-2xl pb-4"
                />
                <ScopeofResearch
                    sor="Accounting Education"
                    class="fa-solid fa-graduation-cap fa-2xl pb-4 "
                />
                <ScopeofResearch
                    sor="Taxation"
                    class="fa-solid fa-receipt fa-2xl pb-4"
                />
                <ScopeofResearch
                    sor="Information Systems, Auditing, and Professional Ethics "
                    class="fa-solid fa-sitemap fa-2xl pb-4"
                />
                <ScopeofResearch
                    sor="Governance & Sustainability Accounting"
                    class="fa-solid fa-users-between-lines fa-2xl pb-4"
                />
            </ContactContainer>
        </Container>

        <Container>
            <Heading1 text="Benefit" />
            <BenefitDetails />
        </Container>

        <Container>
            <Heading1 text="Date" />
            <DateDetails
                timeline="Submission Deadline"
                date="Friday, 20 January 2023"
                time="23:59 WIB (UTC+7)"
            />
            <DateDetails
                timeline="Announcement of Paper Accepted"
                date="Tuesday, 24 January 2023"
                time=""
            />
            <DateDetails
                timeline="Registration & Payment Deadline"
                date="Sunday, 29 January 2023"
                time=""
            />
            <DateDetails
                timeline="Parallel Session 1"
                date="Wednesday, 01 February 2023"
                time="08:00 - 12:00 (UTC+7)"
            />
            <DateDetails
                timeline="Panel Session 2"
                date="Thursday, 02 February 2023"
                time="13:00 - 17:00 (UTC+7)"
            />
        </Container>

        <Container>
            <Heading1 text="Price" />
            <PriceContainer>
                <PriceDetails
                    category="Hybrid - Presenter and Seminar"
                    price="IDR 400,000"
                />
                <PriceDetails
                    category="Virtual - Presenter and Seminar"
                    price="IDR 300,000"
                />
                <PriceDetails 
                    category="Additional Paper" 
                    price="IDR 250,000" />
            </PriceContainer>
            <ButtonContainer>
                <ButtonLink
                    href="https://www.ncafatrilogi.id/eventregistry"
                    class="fa-solid fa-user-plus"
                    title="Paper Submission"
                    description="Click this button to submit your paper."
                />
                <ButtonLink
                    href="https://www.ncafatrilogi.id/eventregistry"
                    class="fa-solid fa-user-plus"
                    title="Paper Registration"
                    description="Note: Registration is open after the announcement of the paper is received"
                />
            </ButtonContainer>
        </Container>
        <Container>
            <Heading2
                text="Paper Terms and Conditions"
            />
            <ButtonContainer>
                <ButtonLink
                    href="https://drive.google.com/uc?export=download&id=1zyFj2uHUzykWw_QIfSqejXENNNkJ_Mt0"
                    class="fa-solid fa-download"
                    title="Abstract Template"
                    description="Click this button to download abstract template."
                />
                <ButtonLink
                    href="https://drive.google.com/uc?export=download&id=1qxMLBSddEV-yHhbruFKv3zDBVKwSMz0Q"
                    class="fa-solid fa-download"
                    title="Full Paper Template"
                    description="Click this button to download full paper template."
                />
            </ButtonContainer>
        </Container>

        <Container>
            <Heading2 text="Contact Us" />
            <ContactContainer>
                <ContactDetails
                    media="WhatsApp"
                    text="0812 8287 0852 (Dinda)"
                    text2="   "
                    href="https://wa.me/6281282870852"
                    class="fa-brands fa-whatsapp fa-2xl pb-4"
                />
                <ContactDetails
                    media="Email"
                    text="fourthncafa.paper@gmail.com"
                    text2="   "
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=fourthncafa@gmail.com"
                    class="fa-regular fa-envelope fa-2xl pb-4"

                />
                <ContactDetails
                    media="Instagram"
                    text="@akuntansi.trilogi"
                    text2="   "
                    href="https://instagram.com/akuntansi.trilogi"
                    class="fa-brands fa-instagram fa-2xl pb-4"
                />
            </ContactContainer>
        </Container>
    </main>
</Layout>
