---
import AlbumPhotos from "../components/AlbumPhotos.astro";
import ButtonLink from "../components/ButtonLink.astro";
import ContactDetails from "../components/ContactDetails.astro";
import DateDetails from "../components/DateDetails.astro";
import Heading1 from "../components/Heading1.astro";
import Heading2 from "../components/Heading2.astro";
import Jumbotron from "../components/Jumbotron.astro";
import Jumbotron2 from "../components/Jumbotron2.astro";
import ModeratorsDetails from "../components/ModeratorsDetails.astro";
import Paragraph from "../components/Paragraph.astro";
import PriceDetails from "../components/PriceDetails.astro";
import SpeakersDetails from "../components/SpeakersDetails.astro";
import AlbumContainerLarge from "../layouts/Album/AlbumContainer-Large.astro";
import AlbumContainerSmall from "../layouts/Album/AlbumContainer-Small.astro";
import AlbumContainer from "../layouts/Album/AlbumContainer.astro";
import ButtonContainer from "../layouts/Button/ButtonContainer.astro";
import ContactContainer from "../layouts/Contact/ContactContainer.astro";
import Container from "../layouts/Container.astro";
import Layout from "../layouts/Layout.astro";
import ModeratorContainer from "../layouts/Moderator/ModeratorContainer.astro";
import PriceContainer from "../layouts/Price/PriceContainer.astro";
---

<Layout title="Seminar">
    <main>
        <Jumbotron2
            srcdesktop="/jumbotron/seminar.webp"
            srcmobile="/jumbotron/seminar-mobile.webp"
            alt="Seminar"
        />
        <Container>
            <Paragraph
                paragraph="This conference gathers various academics, experts and professionals in their respective fields to provide alternative solutions that bridge the gap between theoretical perspectives and research findings in the academic world with practical realities in both the business and public sectors. It is hoped that this conference will also make a constructive contribution by providing recommendations for government policies, especially in the role of accountants in preventing fraudulent behavior, tax regulations, and policies in the capital market and money market sectors."
            />
        </Container>
        <Container class="">
            <Heading1 text="Opening Remarks" />
            <ModeratorContainer>
                <ModeratorsDetails
                    src="/narasumber/Prof.Aris.png"
                    alt="Prof. Aris"
                    name="Prof. Dr. Ir. Arissetyanto Nugroho, M.M., IPU., CMA., MSS."
                    description="Chairman of Jakarta Indonesia Education Development Foundation (Yayasan Pengembangan Pendidikan Indonesia Jakarta)"
                />
                <ModeratorsDetails
                    src="/narasumber/Prof.Pramono.png"
                    alt="Prof. Dr. Pramono"
                    name="Prof. Dr. Pramono Hari Adi, M.S."
                    description="Rector of Trilogi University"
                />
                <ModeratorsDetails
                    src="/narasumber/Moh.Mahsun.png"
                    alt="Mohamad Mahsun"
                    name="Mohamad Mahsun, S.E., M.Si., Ak., CA., CPA., CFrA., CertIPSAS., CPI., Ph.D."
                    description="Chairman of Association of Public Sector Accounting Educators (APSAE)"
                />
                <ModeratorsDetails
                    src="/narasumber/Prof.Dian.png"
                    alt="Prof. Dr. Dian"
                    name="Prof. Dr. Dian Agustia, S.E., M.Si., Ak., CIMA., CA."
                    description="Head of the Indonesian Accountants Association Educator Accountant Compartment (IAIKAPd)"
                />
            </ModeratorContainer>
        </Container>
        <Container class="">
            <Heading1 text="Keynote Speech" />
        <ModeratorContainer>
            <ModeratorsDetails
            src="/narasumber/Dr.Hery.png"
            alt="Dr. Hey"
            name="Dr. Hery Subowo S.E., MPM., Ak., CA, CPA, CSFA., CIA., Ak., CFrA., CFE."
            description="President ACFE Indonesia Chapter 2022-2024"
            />
        </ModeratorContainer>
        </Container>
        <Container class="">
            <Heading1 text="Speakers" />
            <SpeakersDetails
                src="/narasumber/Prof.Dr.Sylvia.png"
                alt="Prof. Dr. Sylvia"
                name="Prof. Dr. Sylvia Veronica Siregar, S.E., Ak., CA., CSRS., CSRA."
                description="Professor of the Department of Accounting Faculty of Economics and Business, University of Indonesia"
            />
            <SpeakersDetails
                src="/narasumber/Prof.Ritchi.png"
                alt="Prof. Hamzah"
                name="Prof. Dr. rer. pol. Hamzah Ritchi, CA."
                description="Profesor in AIS and Digital Innovation Faculty of Economics and Business, Padjadjaran University"
            />
            <SpeakersDetails
                src="/narasumber/Denny.png"
                alt="Prof. Hamzah"
                name="Denny Vissaro, S.E., M.S.E., M.A., ADIT."
                description="Manager of Fiscal Research & Advisory at DDTC"
            />
            <SpeakersDetails
                src="/narasumber/Oluwatoyin.png"
                alt="Oluwatoyin"
                name="Oluwatoyin Muse Johnson Popoola, JP, Ph.D., MBA PGDAF., HDipl., RPA., Member INSOL International., AM(M)., CFA., FCTI., FCA."
                description="Institute of Chartered Accountants of Nigeria (ICAN), International Lecturer (Senior) Tunku Puteri Intan Safinaz School of Accountancy (TISSA-UUM) College of Business, Universiti Utara Malaysia"
            />
            <SpeakersDetails
                src="/narasumber/Dr.Jamaludin.png"
                alt="Dr. Jamaludin"
                name="Dr. Jamaludin Iskak, M.Si., Ak., CA., CPA., CPI., ASEAN, CPA."
                description="Managing Partner Jamaludin, Ardi, Sukimto & Partners (JAS) Public Accountant Firm - Member of Auditrust International"
            />
            <SpeakersDetails
                src="/narasumber/ZubirAzhar.png"
                alt="Zubir Azhar"
                name="Zubir Azhar, Ph.D., FCPA., CA., ACPA."
                description="Chairperson (Accounting) - Senior Lecturer School of Management, Universiti Sains Malaysia"
            />
            <SpeakersDetails
                src="/narasumber/Dr.Sigid.png"
                alt="Dr. Sigid"
                name="Dr. Sigid Eko Pramono, S.E.Ak., MIBA., CA."
                description="Initiator of Islamic Boarding School Accounting Guidelines, Senior Economist Bank of Indonesia 2016-2021"
            />
            <SpeakersDetails
                src="/narasumber/Donny.png"
                alt="Donny Hamdani"
                name="Donny Hamdani, S.E., Ak."
                description="Director of Finance PT Penjaminan Infrastruktur Indonesia (Persero)"
            />
            <SpeakersDetails
                src="/narasumber/Nemoto.png"
                alt="Prof. Masatsugu"
                name="Prof. Masatsugu Nemoto"
                description="Research Professor, International Development Institute (IDI) Chungbuk National University, South Korea"
            />
        </Container>
        <Container>
            <Heading1 text="Moderator" />
            <ModeratorContainer>
                <ModeratorsDetails
                    src="/moderator/Dr.Nurul.png"
                    name="Dr. Nurul Aisyah Rachmawati, S.E., M.S.Ak."
                    description="Lecturer in the Trilogi University Accounting Study Program"
                    alt="Dr. Nurul"
                />
                <ModeratorsDetails
                    src="/moderator/Dr.Anies.png"
                    name="Dr. Anies Lastiati, S.E.Ak., MHRM., M.Ed.St., CA."
                    description="Deputy Chancellor for Learning and Student Affairs & Lecturer in the Trilogi University Accounting Study Program"
                    alt="Dr. Anies"
                />
            </ModeratorContainer>
        </Container>

        <Container>
            <Heading1 text="Date" />
            <DateDetails
                timeline="Panel Session 1 - Hybrid"
                date="2 February 2023"
                time="08:00 - 12:00 (UTC+7)"
            />
            <DateDetails
                timeline="Panel Session 2 - Virtual"
                date="2 February 2023"
                time="13:00 - 17:00 (UTC+7)"
            />
        </Container>

        <Container>
            <Heading1 text="Price" />
            <PriceContainer>
                <PriceDetails
                    category="Hybrid - Presenter and Seminar"
                    price="IDR 400,000"
                />
                <PriceDetails
                    category="Virtual - Presenter and Seminar"
                    price="IDR 300,000"
                />
                <PriceDetails category="Hybrid - Seminar" price="IDR 250,000" />
                <PriceDetails
                    category="Virtual - Seminar"
                    price="IDR 150,000"
                />
            </PriceContainer>
            <ButtonContainer>
                <ButtonLink
                    href="https://www.ncafatrilogi.id/eventregistry"
                    class="fa-solid fa-user-plus"
                    title="Seminar Registration"
                    description="Click this button to regist this seminar."
                />
            </ButtonContainer>
        </Container>

        <Container>
            <Heading2 text="Contact Us" />
            <ContactContainer>
                <ContactDetails
                    media="WhatsApp"
                    text="0812 8842 5931 (Zakiah)"
                    text2="   "
                    href="https://wa.me/6281288425931"
                    class="fa-brands fa-whatsapp fa-2xl py-3"

                />
                <ContactDetails
                    media="Email"
                    text="fourthncafa@gmail.com"
                    text2="   "
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=fourthncafa@gmail.com"
                    class="fa-regular fa-envelope fa-2xl py-3"

                />
                <ContactDetails
                    media="Instagram"
                    text="@akuntansi.trilogi"
                    text2="   "
                    href="https://instagram.com/akuntansi.trilogi"
                    class="fa-brands fa-instagram fa-2xl py-3"

                />
            </ContactContainer>
        </Container>
    </main>
</Layout>
