
<div class="col text-center d-flex flex-column justify-content-center mx-xl-5 px-xl-5">
    <h3 class="fs-2 fw-light py-3">Certificate with credit points (SKP)</h3>
    <h3 class="fs-2 fw-light py-3">Paper received and presented have the opportunity to be published in SINTA Accredited / Index Copernicus / ProQuest / RePEc / Google Scholar / E-Proceeding with ISSN</h3>
    <h3 class="fs-2 fw-light py-3">Have a chance to win the title of best paper and cash prizes</h3>
</div>
