
<div class="col text-center d-flex flex-column justify-content-center mx-xl-5 px-xl-5 gap-3 gap-md-5">
    <div>
        <span class="material-icons">card_membership</span>
        <h3 class="fs-2 fw-light ">Certificate with credit points (SKP)</h3>
    </div>
    <div>
        <span class="material-icons">newspaper</span>
        <h3 class="fs-2 fw-light ">Paper received and presented have the opportunity to be published in SINTA Accredited / Index Copernicus / ProQuest / RePEc / Google Scholar / E-Proceeding with ISSN</h3>
    </div>
    <div>
        <span class="material-icons">attach_money</span>    
        <h3 class="fs-2 fw-light ">Have a chance to win the title of best paper and cash prizes</h3>
    </div>
    
</div>

<style>
    .material-icons {
        font-size: 3rem !important;
    }
</style>
