---
export interface Props {
    media: string;
    text: string;
    text2: string;
    href: string
    class: string
}

const { media, text, text2, href, class: className } = Astro.props 
---

<div class="col text-center d-flex flex-column justify-content-center">
    <i class={className}></i>
    <h3 class="fs-2 fw-bold">{ media }</h3>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <a href={ href } class="icon-link"> { text }</a>
        <a href={ href } class="icon-link"> { text2 }</a>
    </div>
</div>
