---
export interface Props {
    timeline: string;
    date: string;
    time: string;
}

const { timeline, date, time } = Astro.props;
---

<div class="feature col mb-4">
    <h3 class="display-7 fw-bold text-body-emphasis lh-1">{timeline}</h3>
    <p class="lead display-6 mb-1">{date}</p>
    <p class="lead fs-3">{time}</p>
</div>
