<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 m-auto border-top justify-content-center">
    <div class="col mb-3 pe-5">
      <div class="d-flex gap-0 flex-column">
        <p class="text-body-secondary">© 2023</p>
        <p class="text-body-secondary">1st International & 4th National Conference on Accounting and Fraud Auditing
        </p>
        <p class="text-body-secondary">Trilogi University - Accounting Study Program</p>
        <p class="text-body-secondary">Jln TMP Kalibata No. 1 South Jakarta, DKI Jakarta, Indonesia</p>
      </div>
    </div>
    <div class="col mb-3">
      <h5>Navigation</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Seminar</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Call for Paper</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Journal Partners</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Co-Host</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Committee</a></li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5>Contact Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">WhatsApp - Call for Paper</a>
        </li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">WhatsApp - Seminar</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Sponsorship</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Media Partner</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Co-Host</a></li>
      </ul>
    </div>
  </footer>