<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 px-4 mt-5 m-auto border-top justify-content-center">
    <div class="col mb-3 pe-md-3" style="min-width: 40%;">
      <div class="d-flex gap-0 flex-column ">
        <h6>© 2023</h6>
        <p class="text-body-secondary mb-0">National Conference on Accounting and Fraud Auditing
        </p>
        <p class="text-body-secondary mb-0">Trilogi University - Accounting Study Program</p>
        <p class="text-body-secondary mb-0">Jln TMP Kalibata No. 1 South Jakarta, DKI Jakarta, Indonesia</p>
      </div>
    </div>
    <div class="col mb-3">
      <h5>Navigation</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/" class="nav-link p-0 text-body-secondary">Home</a></li>
        <li class="nav-item mb-2"><a href="/seminar" class="nav-link p-0 text-body-secondary">Seminar</a></li>
        <li class="nav-item mb-2"><a href="/paper" class="nav-link p-0 text-body-secondary">Call for Paper</a></li>
        <li class="nav-item mb-2"><a href="/journalpartners" class="nav-link p-0 text-body-secondary">Journal Partners</a></li>
        <li class="nav-item mb-2"><a href="/cohost" class="nav-link p-0 text-body-secondary">Co-Host</a></li>
        <li class="nav-item mb-2"><a href="/committee" class="nav-link p-0 text-body-secondary">Committee</a></li>
      </ul>
    </div>
    <div class="col mb-3">
      <h5>Contact Us</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Call for Paper</a>
        </li>
        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Seminar</a></li>
        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Sponsorship</a></li>
        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Media Partner</a></li>
        <li class="nav-item mb-2"><a href="/contact" class="nav-link p-0 text-body-secondary">Co-Host</a></li>
      </ul>
    </div>
  </footer>