<div class="feature col">
    <img src="https://ncafatrilogi.id/moderator/Dr.Anies.png" width="250px" height="250px" class="img-fluid" alt="">
    <h3 class="display-7 fw-bold text-body-emphasis lh-1 mb-3">Dr. Anies Lastiati, S.E.Ak., MHRH., M.Ed.St., CA.
    </h3>
    <p class="lead">Wakil Rektor Bidang Pembelajaran dan Kemahasiswaan Universitas Trilogi</p>
  </div>