<nav class="sticky-top">
    <div class="container-fluid pt-2 pb-2 bg-white">
        <div
            class="row d-flex justify-content-center justify-content-lg-around"
        >
            <div
                class="d-flex justify-content-center align-content-center flex-row mt-auto mb-auto gap-2 col-6 col-md-5 col-xl-4 order-1"
            >
                <div class="col">
                    <img
                        src="https://ncafatrilogi.id/eventorganizer/prodiakuntansi2.png"
                        alt=""
                        class="img-fluid"
                    />
                </div>
                <div class="col">
                    <img
                        src="/eventorganizer/acfe2.png"
                        alt=""
                        class="img-fluid"
                    />
                </div>
                <div class="col">
                    <img
                        src="/eventorganizer/apsae2.png"
                        alt=""
                        class="img-fluid"
                    />
                </div>
                <div class="col">
                    <img
                        src="/eventorganizer/iai2.png"
                        alt=""
                        class="img-fluid"
                    />
                </div>
                <div class="col">
                    <img
                        src="/eventorganizer/kampusmerdeka.png"
                        alt=""
                        class="img-fluid"
                    />
                </div>
            </div>
            <div class="d-flex col-4 col-md-3 col-xl-2 mt-auto mb-auto">
                <img
                    src="/eventorganizer/incafa.png"
                    alt=""
                    class="img-fluid"
                />
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-ncafa2">
        <div class="container-fluid">
            <button
                class="navbar-toggler border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse justify-content-center align-content-center"
                id="navbarNav"
            >
                <ul
                    class="navbar-nav gap-0 gap-lg-3 align-content-center justify-content-center flex-wrap"
                >
                    <li class="text-center nav-item">
                        <a
                            class="fs-7 text-uppercase text-white nav-link white"
                            aria-current="page"
                            href="/">Home</a
                        >
                    </li>
                    <li class="text-center nav-item">
                        <a
                            class="fs-7 text-uppercase text-white nav-link active"
                            href="/seminar">Seminar</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="fs-7 text-uppercase text-white text-center nav-link" href="/paper"
                            >Call for Paper</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="/journalpartners" class="fs-7 text-uppercase text-white text-center nav-link"
                            >Journal Partners</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="/cohost" class="fs-7 text-uppercase text-white text-center nav-link"
                            >Co-Host</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="/committee" class="fs-7 text-uppercase text-white text-center nav-link"
                            >Committee</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="/sponsors" class="fs-7 text-uppercase text-white text-center nav-link"
                            >Sponsors & Media Partners</a
                        >
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="fs-7 text-uppercase text-white text-center nav-link"
                            >Contact Us</a
                        >
                </ul>
            </div>
        </div>
    </nav>
</nav>

<style>
    .bg-ncafa2 {
        background-image: linear-gradient(to right, #078193 20%, #2e4696 90%);
    }

    .fs-7 {
        font-size: 12px!important;
    }

    .active-ncafa {
        border: none;
        outline: none;
        padding: 0.5 0.2!important;
        background-color: #f7a224!important;
        cursor: pointer;
        border-radius: 25px;
    }
</style>

<script>
    var activeNavlink = document.querySelectorAll('li a[href^="/' + location.pathname.split("/")[1] + '"]');
activeNavlink[0].classList.add('active-ncafa');
</script>
