---
export interface Props {
    paragraph: string;
}

const {paragraph} = Astro.props
---
<div class="py-2 d-flex justify-content-center align-items-center">
    <p id="paragraph" class="fs-5 ln-lg">
        {paragraph}
    </p>
</div>

<style>
    div {
        min-height: 50vh;
    }
</style>

<script>
//     window.addEventListener('resize', function() {
//   var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
//   var element = document.getElementById('paragraph'); // Replace 'yourElementId' with the actual ID of your element
  
//   if (screenWidth <= 426) {
//     element.classList.remove('fs-4');
//     element.classList.add('fs-6');
//   } else {
//     element.classList.remove('fs-6');
//     element.classList.add('fs-4');
//   }
// });

// window.addEventListener('resize', function() {
//   var screenWidth = window.innerWidth;
//   var paragraphElement = document.getElementById('paragraph');

//   if (screenWidth <= 426) {
//     paragraphElement.style.fontSize = '12px';
//   } else {
//     paragraphElement.style.fontSize = '24px';
//   }
// });
</script>