---
export interface Props {
    category: string;
    price: string;
}

const { category, price } = Astro.props
---
<div class="col">
    <div class="card mb-4 rounded-3 border">
      <div class="card-header py- border">
        <h4 class="my-0 fw-normal">{ category }</h4>
      </div>
      <div class="card-body border">
        <h1 class="card-title pricing-card-title">{ price }</h1>
      </div>
    </div>
  </div>

  <style>
    .card-header {
      background-color: azure:  !important;;
    }
  </style>