---
export interface Props {
    src: string
    alt: string
    name: string;
    description: string;

}

const {src, alt, name, description} = Astro.props
---
<div class="row flex-lg-row align-items-center g-3 py-3">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src={src} class="d-block mx-lg-auto img-fluid" alt={alt}
        width="350" height="250" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-7 fw-bold lh-1 mb-3">{name}
      </h1>
      <p class="lead">{description}</p>
    </div>
  </div>