<div class="d-flex flex-column flex-md-row p-4 gap-4 pt-md-3 pb-md-3 align-items-center justify-content-center">
    <div class="list-group">
        <slot />
    </div>
</div>

<style>
    .list-group {
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        .list-group {
            width: 100%;
        }
    }
</style>