---
import Footer from '../components/Footer.astro';
import NavigationBar from '../components/NavigationBar.astro';
import { Spa } from "astro-spa";
import ScrolltoTop from '../components/ScrolltoTop.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#47A2C6" />
		<title>{title} - 4th NCAFA Trilogi</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
			crossorigin="anonymous"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
		/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      		rel="stylesheet">
			
		<link
			rel="icon"
			type="image/svg+xml"
			href="/icon/ncafa-icon.webp"
		/>
		<meta
			name="google-site-verification"
			content="i_EDZW9Fii_-OtvUS7Yqknu_MgKiWw1atli-cLFG6R8"
		/>
	</head>

	<body>
		<NavigationBar />
		<slot />
		<Footer />

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
			crossorigin="anonymous">
		</script>
		<script src="https://kit.fontawesome.com/36090d8799.js" crossorigin="anonymous"></script>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-0M8Q86CBNK"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-0M8Q86CBNK");
    </script>
		<ScrolltoTop/>
	</body>
	<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
		* {
			font-family: 'Montserrat', sans-serif!important;
			overflow-x: hidden;
			max-width: 100%;
		}

		*::-webkit-scrollbar {
			width: 10px;
		}

		*::-webkit-scrollbar-track {
			background: #e6e6e6;
		}

		*::-webkit-scrollbar-thumb {
			background-color: #828282;
			border-radius: 10px;
			border: 3px none #ffffff;
		}
	  </style>
</html>


